/node_modules
/dist
/.tmp
/.sass-cache
/bower_components

/app/.sass-cache
/app/styles/*.css.map
/app/styles/*.map
/Mixidea_parse/.parse.*
*~
/app/scripts/app.sublime-project
/app/scripts/app.sublime-workspace
