/* アニメーション定義 */
/* アニメーション対象要素の基本的なスタイル */
.animate-show-hide {
  /*
  padding:10px;
  border:1px solid black;
  background:white;
  */
  background:#F0F8FF;
}
/* 表示・非表示時のアニメーションを定義 */
.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {

  /*
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  */
  /*下記の定義に注目(詳細は後述)*/
  /*
  display:block!important;
  */

  -webkit-transition: 1s ease-in-out opacity;
  transition: 1s ease-in-out opacity;
  opacity: 1;

  
}
/* ng-hide適用(=非表示)の終点となるスタイル */
/* また、ng-hide-removeに移行する際の始点のスタイルでもある */
.animate-show-hide.ng-hide-add.ng-hide-add-active,
.animate-show-hide.ng-hide-remove {
  opacity:0;
}
/* ng-hide削除(=表示)して到達するスタイル */
/* また、ng-hide-addに移行する際の始点のスタイルでもある */
.animate-show-hide.ng-hide-remove.ng-hide-remove-active,
.animate-show-hide.ng-hide-add {
  opacity:1;
}

