
<div class="container">
	<div class="row">
		<input class="pull-right" type="button" value ="create event" ng-click="open_create_event()" />
	</div>
	<br>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2" style="overflow:visible">
			<p>view type</p>
			 calendar view. list view
			<p>time range</p>
			 from XX oclock to YY oclock
		</div>
		<div class="col-xs-12 col-sm-9 col-md-5 col-lg-7" style="overflow:visible">

			<ul class="event_list" ng-repeat="event in event_list">
				<li>
					<div>{{event.date_time | date:'yyyy/MMM/d - h:mm a Z'}}</div>
				</li>
			</ul>

			<p>aaa aaaa aaaaa aaaaa aaaaaa aaa aaaa aaaaa aaaaa aaaaaa aaa aaaa aaaaa aaaaa aaaaaa aaa aaaa aaaaa aaaaa aaaaaa aaa aaaa aaaaa aaaaa aaaaaa </p>
		</div>

		<div class="hidden-xs hidden-sm col-md-4 col-lg-3" style="overflow:visible">
			ad space ad space ad space ad space ad space ad space ad space ad space ad space ad space ad space ad space ad space ad space 
		</div>

	</div>
</div>
